<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel="stylesheet" href = "/css/mystyle.css">
    <link rel="stylesheet" href = "/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href = "/css/bootstrap-theme.css">
    <link rel="stylesheet" href = "/css/bootstrap.min.css">
    <link rel="icon" href="/pictures/image1.png">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

</head>

<style>
	body{
		font-family: "Lato", sans-serif;
	    transition: background-color .5s;
	    background-color: lightyellow;
	}

	div{
		font-family: courier;
	}
</style>
   
    <body>

        <% if (user) { %>
        
        <div class="topRight">
            <div class = "dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= user.profile.name %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/cart" class = "glyphicon glyphicon-shopping-cart"><span class = "badge"><%= cart %></span></a></li>
                </ul>
            </div>
        </div>
        <% } %>

        <!--<% if (user) { %>
            <div style = "left:10cm">
                <a href = "/cart" class = "glyphicon glyphicon-shopping-cart"><span class = "badge"><%= cart %></span></a>
            </div>
        <% } else { %>
            <div class = "topRight">
                <a href = "/cart" class = "glyphicon glyphicon-shopping-cart"><span class = "badge">0</span></a>
            </div>
        <% } %>-->

        <% if(!user) {%>
        
        <div class = "topRight">
            <a href = "/login">Login / Register</a> 
            <a href = "/cart" class = "glyphicon glyphicon-shopping-cart"><span class = "badge">0</span></a>
        </div>
        <% } %>
        

        <%include ./partials/navbar %>
    
<%- body -%>
        
        <br/>
        
        <%include ./partials/footer %>
        <%include ./partials/javascriptOnly %>
    </body>
</html>