.img-circle{
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.centered{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


div{
    font-family: courier;
}

.topRight{
    position: absolute;
    top: 8px;
    right: 45px;
    font-size: 14px;
}